<a href="https://colab.research.google.com/github/Revalorise/dropout-graduate-prediction/blob/main/academic_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import pandas as pd

In [33]:
df = pd.read_csv('dataset.csv')

# EDA

In [36]:
def inspect_data(data_frame):
  print(f'Data Size: {data_frame.shape}\n')
  print('--------------')
  print(f'Total Null Value: \n{data_frame.isna().sum()}\n')
  print('--------------')
  print(f'Statistics Info: \n{data_frame.describe()}\n')
  print('--------------')
  print(f'Data Types: \n{data_frame.dtypes}')

In [37]:
inspect_data(df)

Data Size: (4424, 35)

--------------
Total Null Value:
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

--------------
Statistics Info:
       Marital status  Application mode  Application order       Course  \
count     4424.000000       4424.000000        4424.000000  4424.000000
mean         1.178571          6.886980           1.727848     9.899186
std          0.605747          5.298964           1.313793     4.331792
min          1.000000          1.000000           0.000000     1.000000
25%          1.000000          1.000000           1.000000     6.000000
50%          1.000000          8.000000           1.000000    10.000000
75%          1.000000         12.000000           2.000000    13.000000
max          6.000000         18.000000           9.000000    17.000000

       Daytime/evening attendance  Previous qualification  Nacionality  \
count                 4424.000000             4424.000000  4424.000000
mean                     0.890823                2.531420     1.254521
std                      0.311897                3.963707     1.748447
min                      0.000000                1.000000     1.000000
25%                      1.000000                1.000000     1.000000
50%                      1.000000                1.000000     1.000000
75%                      1.000000                1.000000     1.000000
max                      1.000000               17.000000    21.000000

       Mother's qualification  Father's qualification  Mother's occupation  \
count             4424.000000             4424.000000          4424.000000
mean                12.322107               16.455244             7.317812
std                  9.026251               11.044800             3.997828
min                  1.000000                1.000000             1.000000
25%                  2.000000                3.000000             5.000000
50%                 13.000000               14.000000             6.000000
75%                 22.000000               27.000000            10.000000
max                 29.000000               34.000000            32.000000

       ...  Curricular units 1st sem (without evaluations)  \
count  ...                                     4424.000000
mean   ...                                        0.137658
std    ...                                        0.690880
min    ...                                        0.000000
25%    ...                                        0.000000
50%    ...                                        0.000000
75%    ...                                        0.000000
max    ...                                       12.000000

       Curricular units 2nd sem (credited)  \
count                          4424.000000
mean                              0.541817
std                               1.918546
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                               0.000000
max                              19.000000

       Curricular units 2nd sem (enrolled)  \
count                          4424.000000
mean                              6.232143
std                               2.195951
min                               0.000000
25%                               5.000000
50%                               6.000000
75%                               7.000000
max                              23.000000

       Curricular units 2nd sem (evaluations)  \
count                             4424.000000
mean                                 8.063291
std                                  3.947951
min                                  0.000000
25%                                  6.000000
50%                                  8.000000
75%                                 10.000000
max                                 33.000000

       Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
count                          4424.000000                       4424.000000
mean                              4.435805                         10.230206
std                               3.014764                          5.210808
min                               0.000000                          0.000000
25%                               2.000000                         10.750000
50%                               5.000000                         12.200000
75%                               6.000000                         13.333333
max                              20.000000                         18.571429

       Curricular units 2nd sem (without evaluations)  Unemployment rate  \
count                                     4424.000000        4424.000000
mean                                         0.150316          11.566139
std                                          0.753774           2.663850
min                                          0.000000           7.600000
25%                                          0.000000           9.400000
50%                                          0.000000          11.100000
75%                                          0.000000          13.900000
max                                         12.000000          16.200000

       Inflation rate          GDP
count     4424.000000  4424.000000
mean         1.228029     0.001969
std          1.382711     2.269935
min         -0.800000    -4.060000
25%          0.300000    -1.700000
50%          1.400000     0.320000
75%          2.600000     1.790000
max          3.700000     3.510000

[8 rows x 34 columns]

--------------
Data Types:
Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [38]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [83]:
df['Target'].value_counts()

Graduate    2209
Dropout     1421
Enrolled     794
Name: Target, dtype: int64

In [93]:
df = df.drop(df[df["Target"] == "Enrolled"].index)
df['Target'].value_counts()

Graduate    2209
Dropout     1421
Name: Target, dtype: int64

In [94]:
X = df[['Marital status', 'Unemployment rate', 'Inflation rate', 'GDP']]
y = df['Target']

# Train Model

In [95]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [96]:
print(X_train.shape, X_test.shape)

(2904, 4) (726, 4)

In [97]:
print(y_train.shape, y_test.shape)

(2904,) (726,)

In [98]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [99]:
def algorithm_experiment(X_train, y_train):
     models = [LogisticRegression(), SVC(), DecisionTreeClassifier(), RandomForestClassifier()]
     for model in models:
        model.fit(X_train, y_train)
        print(f"Model: {model}")
        print(f"Accuracy: {model.score(X_train, y_train)}")

In [100]:
algorithm_experiment(X_train, y_train)

Model: LogisticRegression()
Accuracy: 0.6101928374655647
Model: SVC()
Accuracy: 0.6088154269972452
Model: DecisionTreeClassifier()
Accuracy: 0.6225895316804407
Model: RandomForestClassifier()
Accuracy: 0.6225895316804407

# Model Evaluation

In [101]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [105]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [123]:
def model_evaluation(model, X_test, y_test, pos_label='Graduate'):
    models = [LogisticRegression(), SVC(), DecisionTreeClassifier(), RandomForestClassifier()]
    for model in models:
      model.fit(X_train, y_train)
      accuracy = model.score(X_test, y_test)
      precision = precision_score(y_test, model.predict(X_test), pos_label=pos_label)
      recall = recall_score(y_test, model.predict(X_test), pos_label=pos_label)
      f1 = f1_score(y_test, model.predict(X_test), pos_label=pos_label)

      print(f"Model: {model}")
      print(f"Accuracy: {accuracy}")
      print(f"Precision: {precision}")
      print(f"Recall: {recall}")
      print(f"F1 Score: {f1}\n")

In [124]:
model_evaluation(model, X_test, y_test, pos_label='Graduate')

Model: LogisticRegression()
Accuracy: 0.628099173553719
Precision: 0.6260623229461756
Recall: 0.9866071428571429
F1 Score: 0.7660311958405546

Model: SVC()
Accuracy: 0.6239669421487604
Precision: 0.6227208976157083
Recall: 0.9910714285714286
F1 Score: 0.7648578811369509

Model: DecisionTreeClassifier()
Accuracy: 0.6363636363636364
Precision: 0.6356932153392331
Recall: 0.9620535714285714
F1 Score: 0.7655417406749556

Model: RandomForestClassifier()
Accuracy: 0.6363636363636364
Precision: 0.6356932153392331
Recall: 0.9620535714285714
F1 Score: 0.7655417406749556